@model WebBanGear_63131848.Models.PhanQuyen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <h3 class="py-4 text-danger mb-2 text-xl font-semibold">Bạn có chắc chắn muốn xóa thông tin này?</h3>
    <dl class="gap-y-2 grid">
        <dt class="font-semibold">
            @Html.DisplayNameFor(model => model.MaQuyen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaQuyen)
        </dd>
        <dt class="font-semibold">
            @Html.DisplayNameFor(model => model.TenQuyen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenQuyen)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mt-8">
            <input type="submit" value="Xóa" class="btn btn-danger font-medium" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary font-medium" })
        </div>
    }
</div>