@model WebBanGear_63131848.Models.PhanQuyen

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="py-4 flex items-center justify-between">
    <h2 class="text-xl font-bold">Thêm mới phân quyền</h2>
</div>

@using (Html.BeginForm("Create", "PhanQuyen_63131848", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="mb-6 md:flex md:flex-col">
            <div class="">
                @Html.LabelFor(model => model.MaQuyen, htmlAttributes: new { @class = "block text-gray-500 font-bold text-lg md:text-left mb-1 md:mb-0 pr-4" })
            </div>
            <div class="">
                <input type="text" value="@ViewBag.MaQuyen" disabled readonly class="bg-gray-200 appearance-none border-2 h-[45px] border-gray-300 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
                @Html.ValidationMessageFor(model => model.MaQuyen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-6 md:flex md:flex-col">
            <div class="">
                @Html.LabelFor(model => model.TenQuyen, htmlAttributes: new { @class = "block text-gray-500 font-bold md:text-left text-lg mb-1 md:mb-0 pr-4" })
            </div>
            <div class="">
                @Html.EditorFor(model => model.TenQuyen, new { htmlAttributes = new { @class = "bg-white appearance-none border-2 h-[45px] border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", placeholder = "Tên phân quyền" } })
                @Html.ValidationMessageFor(model => model.TenQuyen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <input type="submit" value="Thêm mới" class="btn btn-primary text-white font-medium" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-danger text-white font-medium" })

        </div>
    </div>
}