@model IEnumerable<WebBanGear_63131848.Models.DonHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaDH", rowsPerPage: 6);
}
<style type="text/css">
    .text-success {
        color: green;
    }

    .text-wait {
        color: #FEB941;
    }

    .grid-footer {
        color: #000;
        font: 17px Calibri;
        text-align: center;
        font-weight: bold;
    }

        .grid-footer a {
            color: blue;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            padding: 1px 10px 2px 10px;
        }

    th {
        background-color: white;
        color: black;
        font-size: 16px;
    }

    td {
        background-color: white;
    }

    .grid-footer td {
        border: 0px solid;
    }

    .grid-footer a:active, a:hover {
        color: #FFAD33;
    }

    .table th,
    .table td {
        padding: 16px 8px;
        border: 1px solid #ddd;
        text-align: center;
    }

    table .table1 {
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
        width: 800px;
        color: black;
        background: white;
    }

    .tr, .td, .th {
        text-align: left;
        color: black;
    }

    td a {
        color: blue;
    }

        td a:hover {
            color: red;
        }
</style>

@using (Html.BeginForm("Index", "DonHang_63131848", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="mb-4">
        <div>
            <h1 class="p-2 text-center text-4xl font-bold">Tìm kiếm đơn hàng</h1>
            <div class="mx-auto w-full max-w-4xl">
                <div class="py-2 md:flex md:justify-center md:items-center">
                    <div class="w-1/5">
                        <label class="text-gray-500 mb-1 pr-4 block font-bold md:mb-0">Mã đơn hàng: </label>
                    </div>
                    <div class="w-2/5">
                        <input type="text" name="maDH" value="@ViewBag.maDH" class="bg-white border-gray-200 py-2 px-2 text-gray-700 w-full appearance-none rounded border-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
                    </div>
                </div>
                <div class="py-2 md:flex md:justify-center md:items-center">
                    <div class="w-1/5">
                        <label class="text-gray-500 mb-1 pr-4 block font-bold md:mb-0">Mã người dùng: </label>
                    </div>
                    <div class="w-2/5">
                        <input type="text" name="maND" value="@ViewBag.maND" class="bg-white border-gray-200 py-2 px-2 text-gray-700 w-full appearance-none rounded border-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
                    </div>
                </div>

                <div class="py-2 md:flex md:justify-center md:items-center">
                    <div class="w-1/5">
                        <label class="text-gray-500 mb-1 pr-4 block font-bold md:mb-0">Họ tên người dùng: </label>
                    </div>
                    <div class="w-2/5">
                        <input type="text" name="tenND" value="@ViewBag.tenND" class="bg-white border-gray-200 py-2 px-2 text-gray-700 w-full appearance-none rounded border-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
                    </div>
                </div>

                <div class="py-2 md:flex md:justify-center md:items-center">
                    <input type="submit" name="submit" value="Tìm kiếm" class="btn btn-info mx-2" />
                    <input type="button" name="Nhapmoi" value="Làm mới" class="btn btn-success" onclick="location.href='@Url.Action("Index", "DonHang_63131848")'" />
                </div>

            </div>
        </div>


    </div>

    <div class="p-4 bg-white flex items-center justify-between rounded-t-xl border">
        <div class="flex-col">
            <h2 class="my-3 text-xl font-bold">Quản lý đơn hàng</h2>
            <p class="text-red">@ViewBag.TB</p>
        </div>
        <p>
            @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-info" })
        </p>

    </div>

    <div id="gridContent" class="text-black">
        @ViewBag.TB
        @grid.GetHtml(
             tableStyle: "table table-bordered table-hover",
             footerStyle: "grid-footer",
             fillEmptyRows: true,
             mode: WebGridPagerModes.Numeric,
             alternatingRowStyle: "alternatingRowStyle",
             columns: new[]
             {
                grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + (grid.PageIndex * grid.RowsPerPage)),
                grid.Column("MaDH", "Mã đơn hàng"),
                grid.Column("MaNguoiDung", "Mã người dùng"),
                grid.Column("NguoiDung.HoTenND", "Họ tên người dùng"),
                grid.Column("DiaChiDH", "Địa chỉ đặt hàng"),
                grid.Column("NgayDat", "Ngày đặt", format: item => ((DateTime)item.NgayDat).ToString("dd/MM/yyyy")),
                grid.Column("TinhTrang", "Tình trạng",
                    format: item => item.TinhTrang ?
                        Html.Raw("<span class='text-success font-semibold'>Đã xác nhận</span>") :
                        Html.Raw("<span class='text-wait font-semibold'>Chờ xác nhận</span>")
                ),
                grid.Column("ChucNang", "Chức năng", format:
@<text>
        <div class="items-center justify-center md:flex">
            @Html.ActionLink("Sửa", "Edit", new { id = item.MaDH }, new { @class = "btn btn-primary font-medium mr-2" })
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaDH }, new { @class = "btn btn-danger font-medium mr-2" })
            @Html.ActionLink("Xem chi tiết", "XemChiTiet", "DonHang_63131848", new { id = item.MaDH }, new { @class = "btn btn-warning font-medium text-white" })

        </div>
</text>
)
}
)
    </div>
}